// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// @import "font-awesome/_animated";
// @import "font-awesome/_bordered-pulled";
// @import "font-awesome/_core";
// @import "font-awesome/_fixed-width";
// @import "font-awesome/_icons";
// @import "font-awesome/_larger";
// @import "font-awesome/_list";
// @import "font-awesome/_mixins";
// @import "font-awesome/_path";
// @import "font-awesome/_rotated-flipped";
// @import "font-awesome/_stacked";
// @import "font-awesome/_variables";

body {
    background: url('/assets/img/footer_lodyas.png');
    color: #FFF !important;
    margin-right: 2.5%;
}

body>.container {
    width: 140%;
    margin-right: 22.5%;
    text-align: center;
}

#map {
    height: 700px;
    z-index: 1000000000;
    margin-top: 20px;
}

#map-control {  }

#search-bar {  }

#search-icon { 
    background: url('/assets/img/restaurant.png');
}

header {
    position: fixed;
    padding: 5px 0 0 0;
    color: #FFF !important;
    background-image: url('/assets/img/restaurant.png');
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
}

.btn-social {
    color: white;
    :hover {
        color: #606060;
    }
}

.title {
    text-decoration: none;
    padding-top: 12px;
    vertical-align: inherit;
    
}

.noDecoration {
    text-decoration: none !important;
}

a {
    color: black;
    :hover {
        text-decoration: none !important;
        color: #23395B;
    }
}